
.footer {
  background-color: map-get($color, 'secondary-midtone');
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.icons-footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.twitter-footer {
  fill: map-get($color, 'light');
  cursor: pointer;

  @media all and (min-width: $media-tablet) {
    width: 2.5em;
    height: 2.5em;
  }
}

.github-footer {
  fill: map-get($color, 'light');
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;

  @media all and (min-width: $media-tablet) {
    width: 2.5em;
    height: 2.5em;
  }
}
