.hamburguer {
  fill: map-get($color, 'light');
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  align-content: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0;
}

.menu-display {
  background-color: rgba($font-color-dark, 0);
  transition: background-color ease-in-out 0.8s;
}

.background-menu {
  background-color: map-get($color, 'primary');
  height: 100vh;
  position: fixed;
  width: 276px;
  left: -100%;
  transition: left ease 0.8s;

  .menu-visible & {
    left: 0;
    z-index: 3;
  }
}

.menu-visible {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($font-color-dark, 0.5);
  height: 100vh;
  width: 100%;
  z-index: 2;
}


.close-button {
  fill: map-get($color, 'light');
  width: 30px;
  height: 30px;
  margin-top: 50px;
  cursor: pointer;
}

.button-style {
  padding: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background-color: none;
}

.list-style {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-menu-link {
  margin: 15px 0;
  cursor: pointer;
}
