.hamburguer {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  align-content: center;
  display: flex;
  justify-content: center;
}

.menu-hamburger {
  fill: map-get($color, 'light');
}

.menu-display {
    background-color: rgba(map-get($color, 'dark'), 0);
    transition: background-color ease-in-out 2s;
}

.background-menu {
  background-color: map-get($color, 'primary');
  height: 100%;
  position: absolute;
  width: 276px;
  left: -100%;
  transition: left ease 1s;

  .menu-visible & {
    left: 0;
    z-index: 2;
  }
}

.menu-visible {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(map-get($color, 'dark'), 0.7);
    height: 100%;
    width: 100%;
    z-index: 2;
}


.close-button {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
}

.button-style {
  padding: 0;
	border: 0;
	border-radius: 0;
  outline: none;
  background-color: none;
}
