body {
  font-family: $font-body-family;
  font-size: $font-size-s;
  line-height: $line-height;
  font-weight: $font-weight-medium;
  color: $font-color-secondary-dark;
  -webkit-font-smoothing: antialiased;
}

.menu-link {
  font-size: $font-size-m;
  font-weight: $font-weight-semi-bold;
  color: $font-color-light;
}

.hero-title {
  font-family: $font-title-family;
  font-size: $font-size-l;
  color: $font-color-light;
  font-weight: $font-weight-bold;

  @media all and (min-width: $media-desktop) {
    font-size: $font-size-xl;
  }
}

.hero-subtitle {
  font-size: $font-size-s;
  color: $font-color-light;
  font-weight: $font-weight-medium;
  font-style: italic;

  @media all and (min-width: $media-desktop) {
    font-size: $font-size-md;
  }
}

.sticky-title {
  font-family: $font-title-family;
  font-size: $font-size-m;
  color: $font-color-light;
  font-weight: $font-weight-bold;
}

.sticky-subtitle {
  font-size: $font-size-s;
  color: $font-color-light;
  font-weight: $font-weight-medium;
  font-style: italic;
}

.introduction-title {
  font-size: $font-size-m;
  color: $font-color-dark;
}

.introduction-body {
  color: $font-color-dark;
  font-weight: $font-weight-light;
}

.introduction-text-search {
  font-size: $font-size-xxs;
  color: $font-color-primary;
}

.section-title-font {
  font-family: $font-title-family;
  font-size: $font-size-md;
  color: $font-color-secondary;
  font-weight: $font-weight-bold;
}

.section-text-no-results {
  font-size: $font-size-mm;
  color: $font-color-secondary-dark;
  font-weight: $font-weight-bold;
}

.data-title {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  @media all and (min-width: $media-desktop) {
    font-size: $font-size-xs;
  }
}

.data-medium {
  font-size: $font-size-s;
  font-weight: $font-weight-medium;
  margin-top: 2px;
  margin-bottom: 0;
  @media all and (min-width: $media-tablet) {
    font-size: $font-size-s;
  }
  @media all and (min-width: $media-desktop) {
    font-size: $font-size-m;
  }
}

.number-card-font {
  font-family: $font-title-family;
  font-size: $font-size-s;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  @media all and (min-width: $media-tablet) {
    font-size: $font-size-m;
  }
  @media all and (min-width: $media-desktop) {
    font-size: $font-size-mn;
  }
}

.footer-font {
  color: map-get($color, 'light');
  font-size: $font-size-m;
}

.body-light {
  font-size: $font-size-m;
  font-weight: $font-weight-medium;
  color: $font-color-light;
}

.body-primary {
  font-size: $font-size-m;
  font-weight: $font-weight-semi-bold;
  color: $font-color-primary;
}

//clases para alinear
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

//clases para mayúsculas
.uppercase {text-transform: uppercase;}
.capitalize {text-transform: capitalize;}
