* {
  box-sizing: border-box;
}

body,html {
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding-left: 0;
}

.hidden {
  display: none;
}
li {
  list-style-type: none;
}
