.about-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  @media all and (min-width: $media-tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media all and (min-width: $media-tablet) {
    padding-left: 50px;
    padding-right: 50px;
  }

}

.about-title {
  margin-bottom: 20px;
  @media all and (min-width: $media-tablet) {
    margin-bottom: 30px;
  }
  @media all and (min-width: $media-desktop) {
    margin-bottom: 40px;
  }
}

.about-subtitle {
  margin-bottom: 10px;
  @media all and (min-width: $media-tablet) {
    margin-bottom: 20px;
  }
}

.about-text {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.about-icons-group {
  @media all and (min-width: $media-tablet) {
    display: flex;
    flex-direction: row;
  }
}
.about-icon-text {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: $media-tablet){
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    border: 1px dashed $font-color-primary;
    padding-left: 10px;
    padding-right: 10px;
    transform: scale(1);
    transition: all 500ms ease-in;

    &:hover{
      cursor: pointer;
      transform: scale(1.2);
      border-width: 2px;
      transition: all 500ms ease-in;
      margin: 10px 10px;
      box-shadow: 4px 6px 8px 1px rgba(0, 0, 0, 0.19);
    }
  }

  @media all and (min-width: $media-desktop){
    margin-left: 20px;
    margin-right: 20px;

    &:hover{
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

.about-icon-position {
  margin-top: 0px;
  margin-left: 150px;
  margin-right: 150px;
}

.hidden-icon {
  @media all and (min-width: $media-tablet) {
    display: none;
  }
}
