
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.marker-icon-intro {
  width: 30px;
  height: 38px;
  margin-top: 16px;
  margin-bottom: 6px;

  @media all and (min-width: $media-desktop) {
    display: none;
  }
}

.home-title {
  margin: 0;
  @media all and (min-width: $media-desktop) {
    margin-top: 48px;
  }
}

.home-text {
  margin-top: 0;
  margin-bottom: 50px;
}

.home-menu-buttons {
  display: flex;
  flex-direction: column;

  align-items: center;

  @media all and (min-width: $media-desktop) {
    flex-direction: row;
  }
}

.home-button {
  width: 200px;
  height: 36px;
  margin-bottom: 10px;
  @media all and (min-width: $media-desktop) {
    width: 170px;
    margin-left: 20px;
  }
}

.map {
  width: 100%;
  height: 400px;
  margin-top: 70px;
  @media all and (min-width: $media-desktop) {
    width: 70%;
    margin: 70px auto;
  }
}

.map-text-search {
  width: 143px;
  height: 14px;
  display: inline;
}
