/*Variables para medias*/
.map {
  height: 400px;
  width: 400px; }

.hero {
  background-color: #e0634b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 90px; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #373d42; }

.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  color: #fff;
  font-weight: 700; }
  @media all and (min-width: 1024px) {
    .hero-title {
      font-size: 54px; } }

.hero-subtitle {
  font-size: 16px;
  color: #fff;
  font-weight: 500i;
  font-style: italic; }
  @media all and (min-width: 1024px) {
    .hero-subtitle {
      font-size: 28px; } }

.introduction-title {
  font-size: 18px;
  color: #000; }

.introduction-body {
  color: #000;
  font-weight: 300; }

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  color: #336287;
  font-weight: 700; }

.data-title {
  font-size: 18px;
  font-weight: 700; }

.data-medium {
  font-size: 18px;
  font-weight: 500; }

.body-light {
  font-size: 18px;
  font-weight: 500;
  color: #fff; }

.body-primary {
  font-size: 18px;
  font-weight: 600;
  color: #e0634b; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.button-light-font {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }

.button-primary-font {
  font-size: 12px;
  font-weight: 600;
  color: #e0634b;
  text-transform: uppercase; }

.button-dark-font {
  font-size: 12px;
  font-weight: 600;
  color: #373d42;
  text-transform: uppercase; }

.main-button {
  width: 80px;
  background-color: #e0634b;
  border: 1px solid #e0634b;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-in-out 0.7s, border ease-in-out 0.7s; }
  .main-button:hover {
    background-color: #373d42;
    border: 1px solid #e0634b; }
  .main-button:active {
    background-color: #373d42;
    border: 1px solid #e0634b; }

* {
  box-sizing: border-box; }

body, html {
  height: 100vh;
  margin: 0; }

.no-margin {
  margin: 0; }

.margin-title {
  margin-bottom: 10px; }

.padding-subtitle {
  padding: 0 15px; }
