/*Variables para medias*/
.map {
  height: 400px;
  width: 400px; }

.section-results {
  background-color: #e1e8ed;
  padding-top: 40px; }

.box-result {
  background-color: #fff;
  padding-left: 12px;
  padding-top: 30px;
  flex-direction: column;
  padding-bottom: 60px;
  border-top: 2px solid #336287; }

.number-bus {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  color: #fff;
  background-color: #336287;
  padding: 5px 7px 10px 5px;
  align-self: flex-start; }

.icon-bus {
  width: 15px;
  align-self: flex-start; }

.box-data-section {
  margin-left: 10px;
  margin-bottom: 30px; }

.box-info-icon {
  align-self: center; }

.border-bottom-results {
  border-bottom: 2px solid #336287; }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: #373d42; }

.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  color: #fff;
  font-weight: 700; }
  @media all and (min-width: 1024px) {
    .hero-title {
      font-size: 54px; } }

.hero-subtitle {
  font-size: 16px;
  color: #fff;
  font-weight: 500; }
  @media all and (min-width: 1024px) {
    .hero-subtitle {
      font-size: 28px; } }

.introduction-title {
  font-size: 18px;
  color: #000; }

.introduction-body {
  color: #000;
  font-weight: 300; }

.section-title {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  color: #336287;
  font-weight: 700;
  margin-left: 12px; }

.data-title {
  font-size: 18px;
  font-weight: 700; }

.data-medium {
  font-size: 18px;
  font-weight: 500;
  margin-top: 2px;
  margin-bottom: 0; }

.body-light {
  font-size: 18px;
  font-weight: 500;
  color: #fff; }

.body-primary {
  font-size: 18px;
  font-weight: 600;
  color: #e0634b; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

.button-light-font {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase; }

.button-primary-font {
  font-size: 12px;
  font-weight: 600;
  color: #e0634b;
  text-transform: uppercase; }

.button-dark-font {
  font-size: 12px;
  font-weight: 600;
  color: #373d42;
  text-transform: uppercase; }

.main-button {
  width: 80px;
  background-color: #e0634b;
  border: 1px solid #e0634b;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease-in-out 0.7s, border ease-in-out 0.7s; }
  .main-button:hover {
    background-color: #373d42;
    border: 1px solid #e0634b; }
  .main-button:active {
    background-color: #373d42;
    border: 1px solid #e0634b; }

* {
  box-sizing: border-box; }

body, html {
  height: 100vh;
  margin: 0; }

.hidden {
  display: none; }

@media (max-width: 1023px) {
  .hide-sm {
    display: none; } }

@media (min-width: 1024px) {
  .hide-lg {
    display: none; } }

.flex {
  display: flex; }

.m-top-none {
  margin-top: 0; }

.m-none {
  margin: 0; }
